/*
======================
CSS RESET
======================
 */

 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

/*
======================
 FONT FAMILY
======================
*/

* {
font-family: 'Roboto', sans-serif;
}

/*
======================
 RESUME BODY
======================
*/

.resume-body {
  padding:.5rem 2.2rem;
  /* set parent element container */
  position:relative;
}


/*
======================
 RESUME HEADER AREA
======================
*/

.resume-header {
  margin: 3.3rem 0rem 3.3rem 1.4rem;
}

.resume-name {
  /* default page px value is 16px */
  font-size: 1.8rem;
  padding-bottom: .6rem;
}

.header-list li{
  font-weight: bold;
  font-size: 0.9rem;
}

.address-street,
.phone {
  list-style:none;
}

.area:before,
.email:before {
  /* pseudo-selector to add bullet point before area/email */
    content:"• ";
}


/*
======================
 OTHER SECTION HEADERS / MULTIPLE ELEMENT SELECTORS
======================
*/

.education h4,
.experience h4,
.skills h4{
  font-size: 1.2rem;
  margin: 0 0 0 1.4rem;
  padding-bottom: .3rem;
}


/* section p {
  margin: 0 0 0 2.5rem;
} */


hr.bold {
  border: .09735rem solid grey;
}

.extra-info {
  float:right

}


/*
======================
 EDUCATION
======================
*/


.education-content {
    margin: 0 0 0 -1rem;
    display: inline-block;
  }

.education-content .college-1
{
  margin-bottom:2rem;
}

.extra-info-1 {
  margin-bottom:2rem;
}

.extra-info {
  margin-right: 4.5rem;
}

section.education {

  padding: 0 0 3rem;
}

section.education p {
  margin: 1rem 0 0 2.5rem;
  font-weight: 600;
  font-size: .9rem;
}

section.education p span.right-alignment {
  margin: 0 1rem 0 0;
  float:right;
}

/*
======================
 EXPERIENCE
======================
*/




/*
======================
 SKILLS
======================
*/
