/*
======================
CSS RESET
======================
 */

 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }



/*
======================
 RESUME HEADER AREA
======================
*/

.resume-header {
  margin: 3rem 0rem 3rem 2.5rem;
}

.resume-name {
  /* default page px value is 16px */
  font-size: 1.8rem;
}

.header-list li{
  font-weight: bold;
  font-size: 0.9rem;
}

.address-street,
.phone {
  list-style:none;
}

.area:before,
.email:before {
  /* pseudo-selector to add bullet point before area/email */
    content:"• ";
}

/*
======================
 EDUCATION
======================
*/
